/*  XML blockout */
body {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left
    }
img {
    /*border: 0;} */
    border: 1px solid black
    }
img.noborder {
    border: 0
    }
h1, h2, h3, h4 {
    text-align: center
    }
hr {
    width: 33%;
    text-align: center
    }
hr.longer {
    width: 65%
    }
.smcap {
    font-variant: small-caps
    }
.blkquot {
    margin-left: 15%;
    margin-right: 15%
    }
.poetry {
    margin-left: 10%;
    margin-right: 10%
    }
.toc {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 90%
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 80%
    }
.tocitem {
    margin: 1em 5% 1em 5%
    }
.citation {
    margin-left: 20%;
    margin-right: 20%;
    text-align: right
    }
.plain {
    list-style: none
    }
table {
    empty-cells: show
    }
p.caption {
    margin-top: 0;
    font-size: 80%
    }
div.centre {
    text-align: center
    }
div.centre table {
    margin-left: auto;
    margin-right: auto;
    text-align: left
    }