/**/
div.c8 {
    margin-left: 10%;
    margin-right: 10%
    }
p.c7 {
    font-weight: bold
    }
p.c6 {
    font-style: italic
    }
td.c5 {
    font-style: italic
    }
div.c4 {
    font-style: italic
    }
h3.c3 {
    font-style: italic
    }
span.c2 {
    font-size: 80%
    }
h2.c1 {
    font-style: italic
    }
/**/