/**/
span.c36 {
    margin-left: 1em
    }
td.c35 {
    text-align: center
    }
p.c34 {
    font-style: italic
    }
span.c33 {
    margin-left: 12em
    }
span.c32 {
    margin-left: 9em
    }
span.c31 {
    margin-left: 3em
    }
span.c30 {
    margin-left: 2em
    }
span.c29 {
    margin-left: 3em
    }
span.c28 {
    margin-left: 4em
    }
td.c27 {
    font-style: italic;
    text-align: right
    }
td.c26 {
    font-style: italic
    }
span.c25 {
    margin-left: 1em
    }
span.c24 {
    margin-left: 1.5em
    }
span.c23 {
    margin-left: 11em
    }
span.c22 {
    margin-left: 5.5em
    }
span.c21 {
    font-style: italic;
    margin-left: 1.5em
    }
span.c20 {
    margin-left: 4em
    }
span.c19 {
    margin-left: 8em
    }
p.c18 {
    text-align: right
    }
span.c17 {
    margin-left: 10em
    }
span.c16 {
    margin-left: 6em
    }
span.c15 {
    margin-left: 15em
    }
span.c14 {
    margin-left: 7em
    }
span.c13 {
    margin-left: 11em
    }
span.c12 {
    margin-left: 5em
    }
span.c11 {
    margin-left: 7em
    }
span.c10 {
    margin-left: 1.5em
    }
span.c9 {
    margin-left: 3.5em
    }
p.c8 {
    font-style: italic;
    text-align: center
    }
p.c7 {
    font-weight: bold;
    text-align: center
    }
td.c6 {
    text-align: right
    }
td.c5 {
    text-align: left
    }
hr.c4 {
    width: 65%
    }
p.c3 {
    font-style: italic;
    font-weight: bold;
    text-align: center
    }
p.c2 {
    text-align: center
    }
hr.c1 {
    width: 45%
    }
/**/