/**/
/* Reset styles to avoid cross-browser problems */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, del, em, img, ins, strong, sub, sup, /*ol, ul, li,*/table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
    }
body {
    line-height: 1
    }
/*ol, ul { list-style: none; }*/
ins {
    text-decoration: none
    }
del {
    text-decoration: line-through
    }
abbr, img {
    text-decoration: none
    }
table {
    border-collapse: collapse;
    border-spacing: 0
    }
/* Overall document styles start here */
html {
    margin: 1em;
    font-family: Palatino, "Palatino Linotype", "Times New Roman", Times, serif
    }
body {
    margin-left: 10%;
    margin-right: 10%
    }
p {
    text-align: justify;
    line-height: 1.3;
    text-indent: 1em
    }
h1, h2, h3, h4 {
    text-align: center;
    font-weight: normal;
    clear: both
    }
blockquote {
    margin: 1em 2em;
    font-size: 0.9em
    }
img {
    border: none
    }
div.figcenter {
    padding: 1em;
    margin: auto;
    text-align: center
    }
div.figright {
    padding: 1em;
    margin: 0;
    text-align: center
    }
div.figleft {
    padding: 1em;
    text-align: center
    }
p.caption {
    text-indent: 0;
    text-align: center;
    font-size: 0.7em;
    width: 80%;
    margin: auto
    }
.figcenter a:hover {
    background-color: transparent
    }
.figright a:hover {
    background-color: transparent
    }
.figleft a:hover {
    background-color: transparent
    }
/* Page number styling */
.pagenum {
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    letter-spacing: normal;
    text-indent: 0;
    text-align: right;
    color: gray
    }
.pagenum:after {
    content: attr(title)
    }
/* Comment/uncomment this instruction to hide/show page numbers*/
.disguise {
    visibility: hidden
    }
/* Used to make some page numbers invisible but still anchors. Used on pages that do not have page numbers printed on them but are included in the numbering scheme, or full-page illustrations that have been moved out of order. */
/* Parts, Chapters and Sections */
.chapter, .part {
    margin: 5em 0;
    clear: both
    }
.chapter_title, .part_title {
    font-size: 1.2em;
    display: block
    }
.chapter_number {
    display: block;
    font-size: 0.8em
    }
.chapter_contents {
    text-indent: -2em;
    padding-left: 2em;
    width: 90%;
    margin: 2em auto;
    font-size: 0.9em
    }
.part_section {
    margin: 2em 0;
    font-variant: small-caps
    }
/* Paragraph special styles */
.internal_title {
    text-indent: 0;
    text-align: center;
    font-size: 2em;
    margin: 4em auto
    }
p.first_paragraph {
    text-indent: 0
    }
.first_word {
    font-variant: small-caps;
    font-size: 1.2em;
    line-height: 1
    }
p.continued_paragraph {
    text-indent: 0
    }
/* Footnotes and footnote markers */
.fnmarker {
    font-size: 0.75em;
    vertical-align: top;
    padding-right: 0.3em
    }
#footnotes ol {
    margin-left: 2em;
    width: 80%;
    padding: 3em;
    list-style-position: outside
    }
#footnotes li {
    margin: 1.4em 1em;
    font-size: 0.9em
    }
#footnotes p {
    text-indent: 0
    }
.returnFN {
    font-size: 0.9em;
    text-align: left;
    text-indent: 0
    }
/* Span and word-level styles */
.name, .ad_list_subtitle {
    font-variant: small-caps;
    font-style: normal;
    font-weight: normal
    }
.notation {
    font-style: normal;
    font-family: sans-serif
    }
/* Frontmatter */
#foretitle p {
    text-align: center;
    text-indent: 0
    }
#series_title {
    font-style: italic;
    text-decoration: underline
    }
#series_editor {
    margin: 2em 0 3em 0;
    font-variant: small-caps
    }
#foretitle_title {
    margin: 3em;
    font-size: 1.25em
    }
#title_page h1 {
    font-size: 2em;
    margin: 4em 0
    }
#title_page p {
    text-align: center;
    text-indent: 0;
    margin: 3em 0
    }
#illo_statement {
    font-size: 0.8em
    }
#pub_data {
    font-size: 0.9em
    }
#publisher {
    font-variant: small-caps
    }
#contents {
    margin: 0 0 5em 0
    }
#contents h2 {
    font-size: 1.5em
    }
#contents ul {
    margin: 1.5em 0;
    list-style: none
    }
#contents .pageno {
    text-align: right
    }
#contents .ch_no {
    display: block;
    text-align: center;
    margin: 2em 0 1em -3em
    }
#contents li {
    line-height: 1.5em;
    font-variant: small-caps
    }
#contents p {
    text-indent: 0;
    margin: 0.5em 5em 1em 2em;
    font-variant: normal
    }
#contents .pagenum {
    left: -8em
    }
#note_page h2 {
    font-size: 1.5em
    }
#note_page p {
    width: 80%;
    margin: 3em auto
    }
/* Transcriber's Note */
#transcribernote {
    padding: 2em;
    border-bottom: 2px gray solid;
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif
    }
#transcribernote p, #transcribernote h2 {
    padding: 0.5em;
    color: #333;
    background-color: #ddd
    }
#transcribernote h2 {
    text-align: left;
    font-weight: bold
    }
#transcribernote ul {
    padding: 1.2em;
    color: #333;
    background-color: #ddd
    }
#transcribernote li {
    line-height: 1.1em
    }
/* Index */
#index ul {
    list-style-type: none
    }
#indexKey {
    margin: 2em auto;
    line-height: 1.5;
    font-family: monospace;
    text-indent: 0;
    width: 70%
    }
#indexKey a {
    margin: 1em;
    padding: 0.5em
    }
.index_start {
    margin-top: 2em
    }
/* Endmatter */
#book_end {
    margin: 5em 0 2em;
    text-align: center;
    padding-bottom: 5em;
    border-bottom: 1px gray solid
    }
/* Ads*/
#front_ads, .advert {
    margin: 3em 0;
    border-bottom: thin gray solid;
    padding-bottom: 2em
    }
#front_ads {
    font-size: 0.9em
    }
.ad_title {
    text-align: center;
    text-indent: 0;
    font-size: 1.75em;
    margin: 1.5em 0
    }
.ad_title_2 {
    text-align: center;
    text-indent: 0;
    font-size: 1.75em;
    margin: 1.5em 0;
    font-variant: small-caps
    }
#front_ads .ad_subtitle {
    text-align: center;
    text-indent: 0
    }
#front_ads .roman_list {
    list-style-type: upper-roman;
    margin-left: 0;
    width: 90%;
    padding: 3.5em;
    list-style-position: outside
    }
#front_ads .roman_list li {
    margin-top: 0.7em
    }
#front_ads .roman_list .ad_list_title {
    text-indent: 0
    }
.advert p {
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.advert ol {
    margin-left: 0;
    width: 90%;
    padding: 3.5em;
    list-style-position: outside
    }
.advert ul {
    list-style-type: none
    }
.advert li {
    text-indent: -1em;
    padding-left: 1em;
    margin-top: 0.5em
    }
.advert ul li p {
    text-align: left;
    text-indent: 1em;
    font-size: 0.9em
    }
.advert .ad_p_1 {
    font-variant: small-caps
    }
.advert .ad_p_2 {
    font-style: italic
    }
.advert .ad_p_3 {
    font-size: 0.8em
    }
.advert .ad_p_4 {
    text-align: justify;
    text-indent: 1em
    }
.advert .ad_p_5 {
    font-size: 1.5em
    }
.advert .ad_p_6 {
    font-style: italic;
    text-decoration: underline
    }
.advert .ad_p_7 {
    font-style: italic;
    text-align: justify;
    text-indent: 1em
    }
.advert .ad_p_8 {
    font-size: 1.5em;
    font-variant: small-caps;
    display: block
    }
.advert .ad_p_9 {
    font-weight: bold
    }
.advert .ad_pub {
    font-size: 0.8em;
    padding-top: 2em
    }
.advert .ad_pub_2 {
    font-size: 0.8em;
    padding-top: 2em;
    font-variant: small-caps
    }
.advert .ad_tab_1 {
    width: 60%;
    margin: 2em auto;
    font-family: sans-serif
    }
.advert .ad_tab_1 td {
    text-align: left;
    padding: 0.5em 2em
    }
.advert .ad_w_1 {
    text-decoration: underline
    }
#ad_13_cols, #ad_14_cols {
    margin: auto;
    font-size: 0.8em;
    border-bottom: thin gray solid;
    overflow: hidden;
    border-top: thin gray solid
    }
#ad_13_cols p {
    text-align: left;
    text-indent: -0.5em;
    padding-left: 0.5em;
    margin: 0;
    font-variant: small-caps
    }
#ad_13_leftcol, #ad_13_midcol {
    border-right: thin gray solid
    }
#ad_13_cols hr {
    width: 30%;
    text-align: center
    }
#ad_14_leftcol, #ad_14_rightcol {
    border-right: thin gray solid
    }
.ad_14_set {
    font-style: italic;
    font-size: 1.2em;
    padding-top: 1em
    }
.ad_14_set ul {
    font-style: normal;
    font-size: 0.9em
    }
#ad_14_rightcol {
    border-right: none
    }
#back_ad_15 ul {
    text-align: center;
    text-indent: 0;
    margin-left: 0;
    padding-left: 0
    }
.ad_p_7 em {
    font-style: normal
    }
.ad_p_7 cite {
    font-style: normal;
    font-variant: small-caps
    }
#ad_17_table {
    margin: 2em auto;
    border-bottom: thin gray solid
    }
#ad_17_table td {
    font-size: 0.9em
    }
td.item_col {
    text-align: left
    }
td.price_col {
    text-align: right;
    border-right: thin gray solid
    }
td.price_col_2 {
    text-align: right
    }
#back_ad_17 ul {
    margin: 0 10%
    }
#back_ad_17 ul li {
    text-indent: 0;
    padding: 0
    }
.ad_17_dotlead {
    border-bottom: 1px dotted black;
    background: white;
    height: 1.1em;
    width: auto
    }
.ad_17_item {
    line-height: 1.2;
    text-align: left;
    background: white
    }
.ad_17_by {
    line-height: 1.2;
    background: white;
    text-align: right
    }
.clearer {
    clear: both
    }
/* Anchors */
a:link {
    color: #3A3E9D;
    background-color: inherit;
    text-decoration: none
    }
a:visited {
    color: #006;
    background-color: inherit;
    text-decoration: none
    }
a:hover {
    color: #A8480E;
    background-color: #CC9
    }
/**/