/**/
p {
    margin-top: 0.2em;
    text-align: justify;
    margin-bottom: 0.2em;
    text-indent: 2%
    }
.c {
    text-align: center;
    text-indent: 0%;
    margin: 2% auto 2% auto
    }
.cb {
    text-align: center;
    text-indent: 0%;
    font-weight: bold
    }
small {
    font-size: 70%
    }
h1 {
    text-align: center;
    clear: both;
    margin-top: 8%
    }
h2 {
    margin: 8% auto 2% auto;
    text-align: center;
    clear: both;
    font-size: 110%
    }
hr {
    width: 90%;
    margin: 2em auto 2em auto;
    clear: both;
    color: black
    }
hr.full {
    width: 50%;
    margin: 5% auto 5% auto;
    border: 4px double gray
    }
table {
    margin: 2% auto 2% auto;
    border: none;
    text-align: left;
    font-size: 90%
    }
body {
    margin-left: 2%;
    margin-right: 2%;
    background: #fdfdfd;
    color: black;
    font-family: "Times New Roman", serif;
    font-size: medium
    }
a:link {
    background-color: #fff;
    color: blue;
    text-decoration: none
    }
link {
    background-color: #fff;
    color: blue;
    text-decoration: none
    }
a:visited {
    background-color: #fff;
    color: purple;
    text-decoration: none
    }
a:hover {
    background-color: #fff;
    color: #F00;
    text-decoration: underline
    }
img {
    border: none
    }
.figcenter {
    margin: auto;
    text-align: center;
    text-indent: 0%
    }
/**/