/**/
span.c7 {
    margin-left: 6.5em
    }
span.c6 {
    margin-left: 6em
    }
span.c5 {
    margin-left: 2.5em
    }
span.c4 {
    margin-left: 2em
    }
p.c3 {
    font-style: italic
    }
hr.c2 {
    width: 65%
    }
td.c1 {
    font-style: italic
    }
/**/