/**/
body {
    margin-left: 10%;
    margin-right: 10%
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
.blockquot {
    margin-left: 5%;
    margin-right: 10%
    }
.center {
    text-align: center
    }
.smcap {
    font-variant: small-caps
    }
.u {
    text-decoration: underline
    }
.right {
    text-align: right
    }
.big {
    font-size: 150%
    }
/* Images */
.figcenter {
    margin: auto;
    text-align: center
    }
.figleft {
    clear: left;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: -1em;
    margin-right: 0;
    padding: 0;
    text-align: center
    }
.poem br {
    display: none
    }
.poem .stanza {
    margin: 1em 0 1em 0
    }
.poem span.i0 {
    display: block;
    margin-left: 0;
    padding-left: 3em;
    text-indent: -3em
    }
/* Transcriber's notes */
.transnote {
    background-color: #E6E6FA;
    color: black;
    font-size: smaller;
    padding: 0.5em;
    margin-bottom: 5em;
    font-family: sans-serif, serif
    }
img.cap {
    margin: -0.5em 0.5em 0 0
    }
p.cap_1 {
    text-indent: -0.8em
    }
p.cap_2 {
    text-indent: -1em
    }
div.drop p:first-letter {
    color: Window
    }
div.drop p {
    margin-bottom: 0
    }
/**/