/**/
p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
hr {
    width: 65%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
img {
    width: 70%
    }
.widetiny {
    width: 10%
    }
.wide0 {
    width: 20%
    }
.wide1 {
    width: 40%
    }
.wide2 {
    width: 55%
    }
table {
    margin-left: auto;
    margin-right: auto
    }
body {
    margin-left: 10%;
    margin-right: 10%
    }
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    font-size: smaller;
    text-align: right
    }
/* page numbers */
.blockquot {
    margin-left: 5%;
    margin-right: 10%
    }
.center {
    text-align: center
    }
.smcap {
    font-variant: small-caps
    }
.caption {
    font-weight: bold
    }
.figcenter {
    margin: auto;
    text-align: center
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em
    }
.footnote .label {
    text-align: right
    }
.fnanchor {
    vertical-align: super;
    font-size: 0.8em;
    text-decoration: none
    }
dl {
    margin-bottom: 0
    }
dd {
    margin-left: 2em;
    text-align: justify
    }
dd.range {
    margin-left: 3em
    }
dl.species dt {
    margin-top: 1em
    }
dl.subsp {
    margin-top: 0
    }
dl.subsp dt {
    margin-left: 1em;
    margin-top: 0
    }
dl.key dt {
    margin-right: 1em;
    text-align: right
    }
dd.t0 {
    margin-left: 3em;
    text-indent: -3em
    }
dd.t1 {
    margin-left: 4.5em;
    text-indent: -3em
    }
dd.t2 {
    margin-left: 5.5em;
    text-indent: -3em
    }
dd.t3 {
    margin-left: 6.5em;
    text-indent: -3em
    }
dd.t4 {
    margin-left: 7.5em;
    text-indent: -3em
    }
dd.t5 {
    margin-left: 8.5em;
    text-indent: -3em
    }
dd.t6 {
    margin-left: 9.5em;
    text-indent: -3em
    }
dd.t7 {
    margin-left: 10.5em;
    text-indent: -3em
    }
dd.t8 {
    margin-left: 11.5em;
    text-indent: -3em
    }
dd.t9 {
    margin-left: 12.5em;
    text-indent: -3em
    }
dd.t10 {
    margin-left: 13.5em;
    text-indent: -3em
    }
/**/