/**/
p {
    text-align: justify;
    text-indent: 1.5em
    }
p.center, .center p, p.no-indent, blockquote p, #tnote p, #tnote-bottom p {
    text-indent: 0
    }
h1, h2, h3, h4, h5 {
    text-align: center;
    clear: both;
    font-weight: normal
    }
h1 {
    font-size: x-large;
    margin: 6em auto 1.5em auto
    }
h2 {
    margin: 6em auto 1.5em auto
    }
h3 {
    margin: 6em auto 1em auto
    }
h2 + h3 {
    margin-top: 2em
    }
h4, h5 {
    font-size: medium;
    font-variant: small-caps;
    margin: 2em auto 1em auto
    }
a:link, a:visited {
    text-decoration: none
    }
ins {
    text-decoration: none;
    border-bottom: 1px dashed #add8e6
    }
blockquote {
    width: 90%;
    margin: 1em 5%;
    font-size: smaller
    }
hr.thought-break {
    margin: 1.5em auto;
    visibility: hidden
    }
.center, .center p {
    text-align: center
    }
.right {
    text-align: right
    }
.figcenter {
    text-align: center;
    margin: 2em auto
    }
.figcenter .caption p, .figcenter p.caption {
    text-align: center;
    text-indent: 0
    }
.figcenter .caption p.right {
    text-align: right;
    margin-right: 1.5em
    }
.small-caps {
    font-variant: small-caps
    }
.all-upper {
    text-transform: lowercase
    }
.italic {
    font-style: italic
    }
.nowrap {
    white-space: nowrap
    }
a[title].pagenum:after {
    content: attr(title);
    border: 1px solid silver;
    display: inline;
    font-size: x-small;
    text-align: right;
    color: #808080;
    background-color: inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-indent: 0;
    letter-spacing: 0
    }
#tnote, #tnote-bottom {
    max-width: 95%;
    border: 1px dashed #808080;
    background-color: #fafafa;
    text-align: justify;
    padding: 0 0.75em;
    margin: 6em auto
    }
#coverpage {
    border: 1px solid black
    }
#toc, #loi {
    margin: auto
    }
#toc th {
    font-weight: normal;
    font-size: smaller
    }
#toc td.right, #loi td.right {
    padding-left: 3em
    }
#toc td.part {
    text-align: center;
    padding-top: 1em
    }
#loi td {
    font-style: italic;
    vertical-align: top;
    text-indent: -2em;
    padding-left: 2em
    }
#loi td.right {
    font-style: normal;
    vertical-align: bottom;
    text-indent: 0
    }
#loi td.italic {
    font-style: italic
    }
#loi td.indent {
    padding-left: 4em
    }
#table-a, #table-b, #table-eggs, #table-skuas {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2em auto
    }
#table-a {
    margin: 2em auto 0.5em auto
    }
#table-a caption, #table-b caption, #table-skuas caption {
    margin-bottom: 0.5em
    }
#table-a th, #table-b th, #table-eggs th, #table-skuas th {
    font-weight: normal;
    border-bottom: 1px solid black
    }
#table-a th, #table-a td, #table-b th, #table-b td, #table-eggs th, #table-eggs td, #table-skuas th, #table-skuas td {
    border-right: 1px solid black;
    padding: 0.2em 0.5em
    }
#table-weight {
    margin: 0.5em auto 2em auto
    }
#table-weight th {
    font-weight: normal;
    font-size: smaller;
    text-align: right
    }
#table-weight td.right {
    padding-left: 2em
    }
#table-skuas td.no-border {
    border-right: none
    }
#table-skuas th, #table-skuas td.small {
    font-size: smaller
    }
#watch-bill p {
    text-indent: -3em;
    padding-left: 3em;
    margin-left: 1.5em
    }
ul#waste-of-life {
    margin: 0 0 0 1.5em;
    padding: 0;
    text-align: left
    }
ul#waste-of-life li {
    list-style-type: none;
    font-style: italic;
    padding: 0.25em 0
    }
ul#waste-of-life ul {
    margin-top: 0.25em
    }
ul#waste-of-life ul li {
    font-style: normal
    }
#corrections {
    list-style-type: none;
    margin: 0;
    padding: 0
    }
#corrections li {
    margin: 0.5em 0.25em
    }
#corrections .correction {
    text-decoration: underline
    }
@page {
    margin: 0.25em
    }
@media screen {
    body {
        width: 80%;
        max-width: 45em;
        margin: 120px auto
        }
    p {
        margin: 0.75em auto
        }
    .figcenter .caption p.right {
        margin-top: -0.75em
        }
    #tnote {
        max-width: 26em
        }
    #tnote-bottom {
        max-width: 34em
        }
    .footnotes {
        margin: 6em auto;
        border: 1px dashed #808080;
        background-color: #fcfcfc;
        padding: 1em
        }
    .page-break {
        margin-top: 8em
        }
    .page-break-after {
        margin-bottom: 8em
        }
    .page-break-fig {
        margin-top: 3em
        }
    .page-break-after-fig {
        margin-bottom: 3em
        }
    }
@media all {
    /* was @media handheld */
    p {
        margin: 0
        }
    #tnote, #tnote-bottom {
        background-color: white;
        border: none;
        width: 100%
        }
    #tnote p, #tnote-bottom p {
        margin: 0.25em 0
        }
    #tnote .screen, .pagenum {
        display: none
        }
    ins {
        border: none
        }
    a:link, a:visited {
        color: black
        }
    #tnote, #tnote-bottom, h1, h2, h3, .footnotes, .page-break, .page-break-fig {
        page-break-before: always
        }
    h2 + h3 {
        page-break-before: auto
        }
    .page-break-after, .page-break-after-fig {
        page-break-after: always
        }
    }
@media all {
    /* was @media handheld */
    body {
        margin: 0;
        padding: 0;
        width: 95%
        }
    #corrections li {
        margin: 0
        }
    }
/**/