/**/
a.c15 {
    font-weight: bold
    }
td.c10 {
    font-style: italic
    }
p.c9 {
    margin-top: 4em
    }
p.c8 {
    line-height: 1.4em
    }
p.c5 {
    font-style: italic
    }
a.c4 {
    font-style: italic
    }
p.c3 {
    font-size: x-large
    }
p.c1 {
    font-weight: bold
    }
/**/