/*  XML blockout */
p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
table {
    margin-left: auto;
    margin-right: auto
    }
table tr td {
    padding-left: 0.5em;
    padding-right: 0.5em
    }
body {
    margin-left: 10%;
    margin-right: 10%
    }
a {
    text-decoration: none
    }
img {
    border: none
    }
em {
    font-style: italic
    }
strong {
    font-weight: bold
    }
/* used for inline headings */
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    text-decoration: none;
    font-style: normal;
    font-size: smaller;
    text-align: right
    }
/* page numbers */
.blockquot {
    margin-left: 5%;
    margin-right: 10%
    }
.bbox {
    padding: 1em
    }
.center {
    text-align: center
    }
.smcap {
    font-variant: small-caps
    }
.lowercase {
    text-transform: lowercase
    }
.caption {
    font-weight: bold
    }
.caplist {
    font-weight: bold;
    text-align: left
    }
.figcenter {
    margin: auto;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em
    }
.figleft {
    clear: left;
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
    padding: 0;
    text-align: center
    }
.figright {
    clear: right;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0;
    padding: 0;
    text-align: center
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em
    }
.footnote .label {
    text-align: right
    }
.fnanchor {
    vertical-align: 0.2em;
    font-size: 0.8em;
    text-decoration: none
    }
.tdl {
    text-align: left
    }
/* left align cell */
.tdr {
    text-align: right
    }
/* right align cell */
.tdlt {
    text-align: left;
    vertical-align: top
    }
/* left top align cell */
.tdrb {
    text-align: right;
    vertical-align: bottom
    }
/* right bottom align cell */
.tdcp {
    text-align: center;
    padding-top: 1.5em
    }
/* center align cell padded top */
.tdc {
    text-align: center
    }
/* center align cell */
.tdci {
    text-align: center;
    font-style: italic
    }
/* center align cell italics */
.ctext {
    width: 60%;
    margin: 0 auto
    }
/* moves text towards centre and maintains left alignment */
.spacer {
    padding-left: 1.5em;
    padding-right: 1.5em
    }
/* horizontal spacer */
.fractop {
    vertical-align: 0.4em;
    font-size: 0.6em
    }
/* upper digit in fraction */
.fracbot {
    font-size: 0.6em
    }
/* lower digit in fraction */
.list {
    margin-left: 5%
    }
/* indented text for use in lists */
hr.full {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-width: 4px 0 0 0;
    /* remove all borders except the top one */
    border-style: solid;
    border-color: #000;
    clear: both
    }
pre {
    font-size: 85%
    }