/**/
p.c27 {
    font-weight: bold
    }
p.c26 {
    padding-bottom: 3em
    }
h3.c25 {
    font-style: italic
    }
h4.c24 {
    font-style: italic
    }
p.c20 {
    font-style: italic
    }
a.c19 {
    font-weight: bold
    }
span.c15 {
    margin-left: 1em
    }
h2.c8 {
    padding-top: 3em
    }
hr.c7 {
    width: 65%
    }
p.c5 {
    padding-top: 5em;
    padding-bottom: 3em
    }
p.c4 {
    padding-top: 5em
    }
h3.c3 {
    padding-top: 5em
    }
p.c2 {
    font-weight: bold;
    padding-top: 3em
    }
h1.c1 {
    padding-top: 3em
    }
/**/