/*  XML blockout */
p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
table {
    margin-left: auto;
    margin-right: auto
    }
body {
    margin-left: 10%;
    margin-right: 10%
    }
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    font-size: smaller;
    text-align: right
    }
/* page numbers */
img {
    border: 0
    }
div.trans-note {
    border-style: solid;
    margin: 3em 15%;
    padding: 1em;
    text-align: center
    }
/* poetry number */
.blockquot {
    margin-left: 5%;
    margin-right: 10%
    }
.center {
    text-align: center
    }
.smcap {
    font-variant: small-caps
    }
.caption {
    font-weight: bold
    }
.figcenter {
    margin: auto;
    text-align: center
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal
    }
.footnote .label {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-variant: normal
    }
.fnanchor {
    vertical-align: super;
    font-size: 0.8em;
    text-decoration: none
    }
hr.full {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-width: 4px 0 0 0;
    /* remove all borders except the top one */
    border-style: solid;
    border-color: #000;
    clear: both
    }
pre {
    font-size: 75%
    }