/**/
span.c8 {
    margin-left: 5em
    }
hr.c7 {
    width: 45%
    }
span.c6 {
    margin-left: 1.5em
    }
a.c5 {
    font-style: italic;
    font-weight: bold
    }
span.c4 {
    margin-left: 1em
    }
a.c3 {
    font-weight: bold
    }
span.c2 {
    margin-left: 2em
    }
hr.c1 {
    width: 65%
    }
/**/