/**/
/* slight differences for print and screen */
@media print {
    .main p {
        text-indent: 1.5em;
        margin-bottom: 0.1em
        }
    span.pgmark {
        border: 0 !important;
        display: none;
        visibility: hidden
        }
    div.footnote p {
        page-break-inside: avoid !important
        }
    hr.pg, .nopr {
        display: none;
        visibility: hidden
        }
    body {
        margin-left: 4%;
        margin-right: 4%
        }
    ins.transcriber {
        text-decoration: none;
        border-bottom: 0
        }
    }
@media screen {
    p {
        text-indent: 0;
        margin-bottom: 0.75em
        }
    span.pgmark {
        border-top: thin solid silver;
        border-bottom: thin solid silver;
        display: inline
        }
    div.footnote {
        background-color: #eee;
        color: #000
        }
    body {
        margin-left: 10%;
        margin-right: 10%
        }
    ins.transcriber {
        text-decoration: none;
        border-bottom: thin dotted silver
        }
    }
/* links */
@media print {
    a:link {
        color: black;
        background-color: inherit;
        text-decoration: none
        }
    a:visited {
        color: black;
        background-color: inherit;
        text-decoration: none
        }
    }
@media screen {
    a:link {
        color: blue;
        background-color: inherit;
        text-decoration: none
        }
    a:visited {
        color: blue;
        background-color: inherit;
        text-decoration: none
        }
    a:hover {
        color: red;
        background-color: inherit
        }
    a:focus {
        outline: #fe6 solid 2px;
        color: inherit;
        background-color: #fe6
        }
    }
body {
    font-size: medium;
    text-align: justify
    }
div.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    page-break-after: always;
    padding-top: 4em
    }
div.blurb {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
    padding: 2em 0
    }
h1 {
    font-size: 220%;
    font-family: sans-serif;
    line-height: 1.4;
    text-align: right;
    clear: right
    }
h3 {
    font-size: 90%;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    word-spacing: 0.75em;
    margin-top: 1.5em;
    margin-bottom: 1em
    }
h4 {
    font-size: 170%;
    font-family: sans-serif;
    text-align: center;
    word-spacing: 0.75em;
    margin-top: 0.1em;
    margin-bottom: 0.1em
    }
h4 small {
    font-family: serif;
    word-spacing: 0;
    font-size: 70%
    }
p.author {
    font-size: 170%;
    text-align: right
    }
p.firstword {
    text-indent: 0
    }
p.firstword span {
    font-style: normal;
    font-variant: small-caps
    }
p.firstword:first-letter {
    font-size: 275%;
    font-style: italic;
    line-height: 80%
    }
/* illustrations */
div.illus {
    text-indent: 0;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-style: normal;
    font-size: 80%;
    margin-left: -5%;
    margin-right: -5%
    }
div.illus p {
    margin-left: 12%;
    margin-right: 10%;
    text-indent: -3%;
    text-align: justify
    }
p.full {
    margin-left: 5% !important;
    margin-right: 5% !important;
    font-size: 110%;
    text-indent: 0 !important;
    margin-bottom: 0 !important
    }
div.quote {
    font-size: 85%;
    padding-top: 0.75em;
    padding-bottom: 0.75em
    }
hr {
    background-color: black;
    color: inherit;
    padding: 0
    }
hr.thin {
    width: 80%;
    margin: 10px auto 0 auto
    }
hr.pg {
    width: 100%
    }
/* footnotes */
sup {
    font-size: small;
    vertical-align: top
    }
div.footnote {
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: 0;
    width: 75%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.75em
    }
div.footnote p {
    text-indent: -1.25em;
    margin-left: 1.75em;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-right: 0;
    font-size: small;
    line-height: 1.2;
    text-align: justify
    }
div.footnote p.i {
    text-indent: -0.75em
    }
hr.footnote {
    width: 5em;
    margin: 1em auto 0.2em 0;
    text-align: left;
    page-break-before: avoid;
    page-break-after: avoid
    }
span.pgmark {
    font-size: x-small;
    font-family: serif;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-indent: 0;
    text-align: left;
    margin: 0;
    padding: 0.05em 0.5em !important
    }
/* for documenting trivial corrections */
ins.TNsilent {
    text-decoration: none;
    border-bottom: 0
    }
.ns {
    display: none;
    visibility: hidden
    }
.pgbrk {
    page-break-after: always
    }
.smc {
    font-variant: small-caps
    }
.nosmc {
    font-variant: normal
    }
em, cite {
    font-style: italic
    }
.sans {
    font-family: sans-serif
    }
.nw {
    white-space: nowrap
    }
.clr {
    clear: both
    }
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center
    }
.lt {
    text-align: left !important
    }
.rt {
    text-align: right !important
    }
.ctr {
    text-align: center !important
    }
.pl2 {
    padding-left: 2em
    }
.pr2 {
    padding-right: 2em
    }
.pt1 {
    padding-top: 1em
    }
.pt4 {
    padding-top: 4em
    }
.tiny {
    font-size: 70%
    }
.bare {
    margin: 0 !important
    }
.noindent {
    text-indent: 0 !important
    }
.spread {
    line-height: 1.8
    }
.ws {
    word-spacing: 0.7em
    }
.lc {
    text-transform: lowercase
    }
.h4 {
    font-size: 140%
    }
.fullwidth {
    width: 100%
    }
/**/